.u-padding-b--none {
padding-bottom: 0;
}

.u-padding-t--none {
padding-top: 0;
}

.u-padding-b--sm {
padding-bottom: 4px;
}

.u-padding-b--md {
padding-bottom: 6px;
}

.u-padding-b--lg {
padding-bottom: 8px;
}

.u-padding-b--xl {
padding-bottom: 12px;
}

.u-padding-b--xxl {
padding-bottom: 26px;
}

.u-padding-t--sm {
padding-top: 4px;
}

.u-padding-t--md {
padding-top: 6px;
}

.u-padding-t--lg {
padding-top: 8px;
}

.u-padding-t--xl {
padding-top: 12px;
}

.u-padding-l--sm {
padding-left: 4px;
}
.u-padding-l--md {
padding-left: 6px;
}
.u-padding-l--lg {
padding-left: 8px;
}
.u-padding-l--xl {
padding-left: 12px;
}

.u-padding-r--sm {
padding-right: 4px;
}
.u-padding-r--md {
padding-right: 6px;
}
.u-padding-r--lg {
padding-right: 8px;
}
.u-padding-r--xl {
padding-right: 12px;
}
.u-margin--none {
    margin: 0;
}
.u-margin-b--none {
margin-bottom: 0;
}
.u-margin-t--none {
    margin-top: 0;
}
.u-margin-t--sm {
margin-top: 4px;
}

.u-margin-t--md {
margin-top: 8px;
}

.u-margin-t--lg {
margin-top: 12px;
}

.u-margin-b--sm {
margin-bottom: 4px;
}

.u-margin-b--md {
margin-bottom: 8px;
}

.u-margin-b--lg {
margin-bottom: 12px;
}

.u-border-b {
    border-bottom: 1px solid #fff;
}

.u-border-b--lg {
    border-bottom: 2px solid #fff;
}

.u-text-align--center {
    text-align: center;
}

.u-font--sm {
    font-size: 10px;
}

.u-font--md {
    font-size: 12px;
}

.u-font--lg {
    font-size: 14px;
}

.u-font--xl {
    font-size: 18px;
}

.u-font--xxl {
    font-size: 24px;
}

.u-text-decoration--none {
text-decoration: none;
}

.u-text-decoration--underline {
    text-decoration: underline;
}

.u-flex {
display: flex;
}

.u-flex-direction--between {
justify-content: space-between;
}

.u-flex-align--baseline {
align-items: baseline;
}

